body {
    margin: auto;
    width: 90vmin;
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form {
    margin: 10px;
}

.username-greeting {
    font-style: italic;
}

#login-error {
    display: none;
    color: red;
}

.board {
   border-collapse: collapse;
   margin-top: 10px;
   margin: auto;
   padding: 20px;
   table-layout: auto;
   min-width: 270px;
}

.square {
    width: 10vh;
    height: 10vh;
    
    min-width: 30px;
    min-height: 30px;
}

.board td {
    border: none;
    text-align: center;
}

.row:nth-child(even) .square:nth-child(even),
.row:nth-child(odd) .square:nth-child(odd) {
    background-color: orange;
}

.row:nth-child(odd) .square:nth-child(even),
.row:nth-child(even) .square:nth-child(odd)
{
    background-color: brown;
}

.piece {
    object-fit: contain;
    height: 90%;
}

.player-info {
    text-align: center;
    border: 1px solid black;
}

#black-info {
    background-color: black;
    color: white;
}