body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
}

form {
    margin: 10px;
}

.username-greeting {
    font-style: italic;
}

#login-error {
    display: none;
    color: red;
}

#board {
    display: grid;
    grid-template-columns: repeat(8,1fr);
    max-width: 600px;
    margin: auto;
}

.square {
    height: 0;
    padding-bottom: 100%;
}

.white-square {
    background-color: orange;
}

.black-square {
    background-color: brown;
}

.piece {
    width: 100%;
}

.player-info {
    text-align: center;
    border: 1px solid black;
}

#black-info {
    background-color: black;
    color: white;
}

.flash-message {
    width: 75%;
    margin: auto;
    padding: 10px;    
    background-color: powderblue;
    border: 2px;
    border-style: solid;
    border-color: navy;
    color: navy;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
