body {
    max-width: 800px;
    margin: auto;
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form {
    margin: 10px;
}

.username-greeting {
    font-style: italic;
}

.error {
    display: none;
    color: red;
}
.board {
   border-collapse: collapse;
   margin: auto;
   margin-top: 10px;
   padding: 20px;
   table-layout: fixed;
}

.square {
    width: 50px;
    height: 50px;
}

.board td {
    border: none;
    text-align: center;
}

.row:nth-child(even) .square:nth-child(even),
.row:nth-child(odd) .square:nth-child(odd) {
    background-color: orange;
}

.row:nth-child(odd) .square:nth-child(even),
.row:nth-child(even) .square:nth-child(odd)
{
    background-color: brown;
}